<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles.css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>

    <h2>All programs</h2>
    <div class="progCon">
                  
                    <div class="box">
                         <% if(data.length) {
                            for(var i = 0; i < data.length; i++) { 
                         %>
                            <input type="hidden" name="id" value="<%= data[i].id %>">
                            <input type="hidden" name="progid" value="<%= data[i].program_id %>">
                            
                            <div class="img">
                                <img src="<%= data[i].cover %>" alt="">
                            </div>
                            <div class="txt">
                                <p><%= data[i].names %></p>
                                <p><%= data[i].description %></p>
                            </div>

                            <div class="schedprice">
                                <p><%= data[i].schedule %></p>
                                <p>$ <%= data[i].cost %> USD</p>
                            </div>
                            
                            <div class="btn">
                                <a href="/all_programs/make_res/<%= data[i].id %>">Make Reservation</a>    
                            </div>
                            
                       <% } %>
                
                   <% } %>
                    </div>
    </div>
</body>
</html>