<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>All Tour Companies</title>
</head>
<body>

    <%- include('../partials/nav.ejs') %>

    <div class="welcome">
        <h1>Welcome Back <%= my_session.first_Nm %> </h1>
        <hr>
    </div>

    <div class="progCon">
                   
        <div class="updates">
            <h2 class="hdl">Upcoming Events</h2>
            <div class="con">
                <h2>Today's Foriegn Exchange Rates</h2>
                <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Sit nesciunt dicta distinctio
                molestias incidunt laboriosam!</p>
            </div>

            <div class="con">
                <h2>SSD Tours Commission Rates</h2>
                <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Sit nesciunt dicta distinctio
                molestias incidunt laboriosam!</p>
            </div>

            <div class="con">
                <h2>Bookings Contest Winner Annc...</h2>
                <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Sit nesciunt dicta distinctio
                molestias incidunt laboriosam!</p>
            </div>
            <div class="updbtn">
                <button>View All Recent Updates</button>
            </div>
        </div>


        <div class="box box2">
            <div class="headline">
                <h2>View All Affiliates</h2>
            </div>
           
             <% if(data.length) {
                for(var i = 0; i < data.length; i++) { 
             %>
             <div class="innerBx">
                <input type="hidden" name="id" value="<%= data[i].id %>">
                <input type="hidden" name="progid" value="<%= data[i].company_id %>">
                
                <div class="applname">
                    <h2><%= data[i].company_name%> <%= data[i].primaryguest_lname %> <span> <%= data[i].voucher_no %> </span></h2>
                </div>
                <div class="txt">
                    <div class="btns">
                        <div class="cst">
                            Company Rate per person: <%= data[i].company_rate %> and booked through <%= data[i].company_name %> 
                        </div>
                        <div class="action">
                        <a href="/affiliates_allrecs/edit/<%= data[i].id %>"> Edit</a>    
                        <a href="/affiliates_allrecs/delete/<%= data[i].id %>">Remove</a>  
                        </div>  
                    </div>
                </div>  
                </div>                         
                
           <% } %>
    
       <% } %>
        </div>
</div>
</body>
</html>