<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/styles.css">
    <title>Edit Reservations</title>
</head>
<body>
    <div class="pages">
        <%- include('../partials/nav.ejs') %>
    </div>

    <div class="">
        <!-- <div class="imgBx">
            <img src="https://i1.wp.com/palaemonsystems.com/wp-content/uploads/2021/07/Project-Management.png?fit=582%2C379&ssl=1" alt="">
        </div> -->
        <div class="form">

            
        <div class="form">
            <form action="/dc_allreqs/edit/dc_res" method="post">
                <h1><%= editInfo[0].names%></h1>
                <input type="hidden" name="progam_id" value="<%= editInfo[0].id%>">
            <div class="liners">
                    <div>
                        <label for="">First Name</label>
                        <input type="text" name="f_name" for="" value="<%= editInfo[0].primaryguest_fname%>">
                    </div>
                
                    <div>
                        <label for="">Last Name</label>
                        <input type="text" name="l_name" for="" value="<%= editInfo[0].primaryguest_lname%>">
                    </div>
             </div>

                <div class="toggleopts">
                    <input type="hidden" name="h_from" value="<%= editInfo[0].hotel_from%>">
                    <input type="hidden" name="b_thru" value="<%= editInfo[0].booked_through%>">
                </div>

                <div>
                    <label for="">Number of Persons</label>
                    <input type="text" name="num_ppl" for="" value="<%= editInfo[0].number_of_guest%>">
                </div>


                <div class="days">
                    <div class="dayed">
                        <label for="">Arrival Date: </label>
                        <input type="date" name="excur_date" id="">
                        <label for="">Date Updated</label>
                        <input type="date" name="req_date" value="<%= new Date().toLocaleDateString('fr-CA')%>">
                    </div>
                    <div class="p_meth">
                        <label for="">Paymemt Method</label>
                        <select name="pay_opts" id="">
                            <option value="1">American Express</option>
                            <option value="2">Visa</option>
                            <option value="3">Master Card</option>
                            <option value="4">PayPal</option>
                            <option value="5">Cash</option>
                            <option value="6">Pay on Arrival</option>
                        </select>
                    </div>
                </div>
                <div>
                    <p>Price $ <%= editInfo[0].program_cost %> USD </p>
                    <input type="hidden" name="cost" value="<%=editInfo[0].cost %>">
                </div>
                <div>
                    <input type="submit" id="" value="Update Reservations">
                </div>
                </form>
        </div>
        </div>
    </div>

    

</body>
</html>